*{
    margin:0px 0px;
    padding:0px 0px;
}
.resume{
    display: flex;
    margin:0px 700px;
    color:white;
    font-size: 50px;
}

.first{
    display:flex;
    padding:10px 150px;
    color:white;

}
.left ul li{
    padding:10px 0px;
    list-style: none;
}
.list ul li{
    list-style: none;
    padding:5px 0px;
    font-size: 20px;
    

}
.right ul li{
    padding: 20px 150px;
    list-style: none ;
    color:white;
}

body{
    display:flex;
    background-color:#1d312f;
    
}